extends ../layout

block content
 #user
  div.navbar.white-icons
    .navbar-inner
      .container-fluid
        a.brand(href='/')
          |  myDesignCrit.com   
          img.retina(src='/img/bubble.png', alt='Logo', width=25, height=22)
        ul.nav.pull-right
          li.dropdown
            include ../auth/signin
  .container
    .page-header
      h1 Projects Created By You
    ul.unstyled.activity
      - each project in projects       
        li
          a.thumbnail(href="/edit/#{project.id}")
            img.retina(src=project.thumbnail, alt=project.title, width=160, height=120)
          a.title(href="/edit/#{project.id}") #{project.title}
          .count (#{project.pages.length} pages)
          time.localtime.create-on #{project.created_date.toISO()}
                           
prepend footer
  mixin footer
