%nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation', 'ng-controller' => 'HeaderCtrl'}
  .navbar-header
    %a.navbar-brand{href: '/', target: '_self'} DesignCrit.io
  = render 'layouts/login'


#project{'ng-controller' => 'ProjectCtrl', 'ng-init' => "projectId = '#{@project.id}'"}
  %sidebar{'selected-crit' => 'data.selectedCrit', 'hovered-crit' => 'data.hoveredCrit', 'crits' => 'data.selectedPage.crits'}

  %ul.nav.nav-tabs.ng-cloak
    %li{'ng-repeat' => 'page in data.pages', 'ng-class' => '{active: page.id == data.selectedPage.id}'}
      %a{'ng-href' => '/projects/{{data.project.id}}/pages/{{page.id}}'} {{ page.title }}

  #canvas
    %ng-view

%script{id: 'page.html', type: 'text/ng-template'}
  = render 'page'

%script{id: 'crit.html', type: 'text/ng-template'}
  = render 'crits/crit'

%script{id: 'sidebar.html', type: 'text/ng-template'}
  = render 'sidebar.html'

