- content_for :header do
  %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation', 'ng-controller' => 'HeaderCtrl'}
    .navbar-header
      %a.navbar-brand{href: '/', target: '_self'}
        %i.icon-pagesetup
        DesignCrit.io
    .navbar-collapse
      - if can? :create, @project => Page
        %form.navbar-form.navbar-left
          .form-group
            %button.btn.btn-primary{type: 'submit', 'ng-click' => 'newPageModal()'}
              %i.icon-addshape
              New Page
      = render 'layouts/login'
      %form.navbar-form.navbar-right
        .form-group
          = link_to share_path(@project.share_id), class: 'btn btn-success' do
            %i.icon-share2
            Preview

#project{'ng-controller' => 'ProjectCtrl', 'ng-init' => "projectId = '#{@project.id}'"}
  %sidebar{'selected-crit' => 'data.selectedCrit', 'hovered-crit' => 'data.hoveredCrit', 'crits' => 'data.selectedPage.crits'}

  %ul.nav.nav-tabs.ng-cloak
    %li{'ng-repeat' => 'page in data.pages', 'ng-class' => '{active: page == data.selectedPage}'}
      %a.tab.routed{'ng-href' => '/projects/{{data.project.id}}/pages/{{page.id}}'}
        - if can? :destroy, @project => Page
          %span.close{'ng-click' => 'deletePage($event, page)', 'ng-show' => 'data.pages.length > 1'} &times;
        {{ page.title }}

  #canvas
    %ng-view

%script{id: 'page.html', type: 'text/ng-template'}
  = render 'page'

%script{id: 'crit.html', type: 'text/ng-template'}
  = render 'crits/crit'

%script{id: 'sidebar.html', type: 'text/ng-template'}
  = render 'sidebar.html'

%script{id: 'newPageModal.html', type: 'text/ng-template'}
  .modal-header
    %h3 Add a new page

  .modal-body
    .tabbable.tabs-top
      %ul.nav.nav-tabs
        %li.active
          %a{'data-toggle' => 'tab', href: '#url', target: '_self'}
            %span.icon-earth
            URL
        %li
          %a{'data-toggle' => 'tab', href: '#image', target: '_self'}
            %span.icon-upload
            Upload

      .tab-content
        %form#url.tab-pane.active{'ng-submit' => 'add()'}
          .input-group.input-group-lg
            %input.form-control{name: 'url', placeholder: 'http://example.com', type: 'url', 'ng-model' => 'selected.url'}/
            .input-group-btn
              %button.btn.btn-success{type: 'submit'} Add
        #image.tab-pane
          %div{'ng-file-drop' => 'onFileSelect($files)', 'ng-file-drop-available' => 'dropSupported=true', 'ng-class' => '{"drop-box": dropSupported}'}
            %div{'ng-show' => 'dropSupported'}
              %span.icon-upload2
              You can also drop a file here
            #file-upload.btn.btn-success
              Browse...
              %input#file-input{name: 'image', type: 'file', 'ng-file-select' => 'onFileSelect($files)'}/

          %br/
          .progress.progress-striped.active{'ng-show' => 'upload != null'}
            .progress-bar.progress-bar-success{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '{{progress}}', role: 'progressbar', style: 'width: {{progress}}%'}
              %span.sr-only {{progress}}% Uploaded

  .modal-footer
    .text-left
      %button.btn.btn-warning{'ng-click' => 'cancel()'} Cancel