!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
  %body
    %h1 There is a project waiting for you at DesignCrit.io!
    %p
      Hey there! Someone using DesignCrit.io wants to share a #{link_to 'project', share_url(@project.share_id) } with you. Click the link below to see the project
      and all the comments.

    %p{style: 'margin-top: 25px'}
      = link_to 'See the project now at DesignCrit.io!', share_url(@project.share_id), style: 'background: #E03328; color: #fff; padding: 10px'

    %h2{style: 'margin-top: 25px'} Project Summary
    %p
      There is a total of #{pluralize(@project.pages.size, 'page')} in this project.

    %ul
      - @project.pages.each  do |page|
        %li #{page.title} with #{pluralize(page.crits.size, 'crit')}

    %p{style: 'color: #777; font-size: 80%; margin-top: 40px;'}
      %a{href: 'http://designcrit.io'} DesignCrit.io.
      Design Happy.
      %br/
      %br/
      You are receiving this message because someone shared a project with you.
      DesignCrit.io does not collect any private data. Read the #{link_to 'privacy', page_url('privacy')} page if you have questions.