%ul.nav.navbar-nav.navbar-right
  %li.dropdown
    %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
      %i.glyphicon.glyphicon-user
      == Hi, #{current_user.name}
      %b.caret
    %ul.dropdown-menu
      %li.dropdown-header Recent projects
      - current_user.recent_projects.each do |p|
        %li
          = link_to p, target: '_self' do
            %i.icon-briefcase2
            = p.title
      %li.divider
      - if anonymous_user?
        %li.dropdown-header Login
        %li
          = link_to user_omniauth_authorize_path(:facebook), target: '_self' do
            %i.icon-facebook
            Facebook
        %li
          = link_to user_omniauth_authorize_path(:google_oauth2), target: '_self' do
            %i.icon-gmail
            Google
      - else
        %li
          = link_to destroy_user_session_path, target: '_self' do
            %i.glyphicon.glyphicon-log-out
            Logout

