%ul.nav.navbar-nav.navbar-right
  %li.dropdown
    %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
      %i.glyphicon.glyphicon-user
      == Hi, #{guest_or_current_user.name}
      %b.caret
    %ul.dropdown-menu
      %li.dropdown-header Your recent projects
      - guest_or_current_user.recent_projects.each do |p|
        %li
          = link_to p do
            %i.icon-briefcase2
            = p.title
      %li.divider
      %li.dropdown-header Profile
      %li
        = link_to 'Manage Projects', projects_path
      %li.divider
      - if anonymous_user?
        %li.dropdown-header Login
        %li
          = link_to user_omniauth_authorize_path(:facebook) do
            %i.icon-facebook
            Facebook
        %li
          = link_to user_omniauth_authorize_path(:google_oauth2) do
            %i.icon-gmail
            Google
      - else
        %li
          = link_to destroy_user_session_path do
            %i.glyphicon.glyphicon-log-out
            Logout

