!!!
%html{'ng-app' => 'designcrit'}
  %head
    %title designcrit.io - Critiquing websites easily
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    = stylesheet_link_tag    'application', media: 'all'
    = include_jquery defer: true
    = javascript_include_tag 'application', defer: true
    = csrf_meta_tags
  %body
    = yield