!!!
%html{'ng-app' => 'designcrit'}
  %head
    %title designcrit.io - Critiquing websites easily
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Questrial|Quicksand:400,700'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', defer: true
    = csrf_meta_tags
  %body{id: controller_name, class: action_name}
    = render 'layouts/analytics' unless Rails.env.development?
    %header
      - if content_for?(:header)
        = yield(:header)
      - else
        %nav.navbar.navbar-default{role: 'navigation'}
          .navbar-header
            %a.navbar-brand{href: '/', target: '_self'}
              %i.icon-pagesetup
              DesignCrit.io
          .navbar-collapse
            = render 'layouts/login'
    = yield